# Entorno virtual
venv/
.venv/

# Configuracion de IDE
.vscode/

# Caché de Python
__pycache__/
*.pyc

# Archivos temporales y de sistema
.DS_Store

# Imágenes generadas
*.png

images/
results/

# Modelo
model